<script type="application/ld+json">
{
	"@context" : "http://schema.org",
	"@type" : "Organization",
	"name" : "{{ with ($.Site.GetPage "page" "configuration/config.md") }}{{ .Params.appPublisher }}{{ end }}",
	"logo" : "{{ with ($.Site.GetPage "page" "configuration/config.md") }}{{ .Params.appLogo }}{{ end }}",
	"url" : "{{ with ($.Site.GetPage "page" "configuration/config.md") }}{{ .Params.appUrl }}{{ end }}",
	"address": {
		"@type": "PostalAddress",
		"addressLocality": "{{ with ($.Site.GetPage "page" "configuration/config.md") }}{{ .Params.appAddress.city }}{{ end }}",
		"addressCountry" : "{{ with ($.Site.GetPage "page" "configuration/config.md") }}{{ .Params.appAddress.country }}{{ end }}",
		"postalCode": "{{ with ($.Site.GetPage "page" "configuration/config.md") }}{{ .Params.appAddress.zip }}{{ end }}",
		"streetAddress": "{{ with ($.Site.GetPage "page" "configuration/config.md") }}{{ .Params.appAddress.street }}{{ end }}"
	}
}
</script>