<li class="card">
    <div class="card-inner">
        <div class="featuredimageWrapper">
            {{ if .Params.youtube }}
                <div class="featuredimage youtubethumb" data-youtubethumb="{{ .Params.youtube }}" aria-label="{{ .Params.title }}"></div>
            {{ else if .Params.image }}
                <div class="featuredimage" aria-label="{{ .Params.title }}">
                    <img src="{{ .Params.image }}-/resize/400x/" alt="{{ .Params.title }}" title="{{ .Params.title }}">
                </div>
            {{ end }}
        </div>
        <div class="legend">
            {{ .Params.year }}<br/>
            <strong>{{ .Title }}</strong><br/>
            <div class="text">
                {{ .Content }}
            </div>
        </div>
    </div>
    <div class="clear"></div>
</li>