<li class="card equalize">
    <a class="link permalink" href="{{ .Permalink }}">
        <div class="card-inner">
            <div class="featuredimageWrapper">
                {{ if .Params.youtube }}
                    <div class="featuredimage youtubethumb" data-youtubethumb="{{ .Params.youtube }}" aria-label="{{ .Params.title }}"></div>
                {{ else if .Params.image }}
                    <div class="featuredimage">
                        <img src="{{ .Params.image }}-/resize/1024x/" alt="{{ .Params.title }}" title="{{ .Params.title }}">
                    </div>
                {{ end }}
            </div>
        </div>
    </a>
    <div class="clear"></div>
</li>