<!doctype html>
<html lang="de">
{{ partial "head-single" . }}
<body id="root" class="{{ .Type }} {{ .File.TranslationBaseName }}">
<div class="wrapper">
    {{ partial "header" . }}

    <div class="stripe" role="main">
        <div class="container main">
            <h1>{{ .Title }}</h1>
            <article>
                {{ .Content }}
            </article>
            {{ if .Params.image }}
                <div class="image">
                    <img src="{{ .Params.image }}-/resize/800x/" alt="{{ .Title }}" />
                </div>
            {{ end }}
        </div>
    </div>
    {{ partial "footer" . }}
</div>
</body>
{{ partial "schema/global" . }}
{{ partial "javascript" . }}
</html>