/* hyperlinks */

a {
	color: $c-primary;
	text-decoration: none;
}

a:hover {
	color:	$c-lightgray;
}

a,
button {
  transition: $tr-scope $tr-speed $tr-ease;

  &:visited {
    text-decoration: none;
    transition: $tr-scope $tr-speed $tr-ease;
  }

  &.btn {
    padding: 0.4em 1em;
    border: 2px solid $c-primary;
    box-shadow: 2px 2px 0 $c-black;

    &:focus,
    &:hover,
    &:visited:hover,
    &:visited:focus {
      background: $c-white;
      color: $c-black;
      border: 2px solid transparent;
      box-shadow: 8px 8px 0 lighten($c-black, 25%);
    }
  }

  &:focus,
  &:hover,
  &:visited:hover,
  &:visited:focus {
    transition: $tr-scope $tr-speed $tr-ease;
  }
}
