/*
 * mobile-first design:
 *
 * 1) default styles for mobile
 * 2) >= tablet
 * 3) >= desktop
 * 4) >= mega
 */

html {
  font-size: 15px;
  line-height: 1.55;

  @include media(">=tablet", "<desktop") {
    font-size: 16px;
    line-height: 1.6;
  }

  @include media(">=desktop", "<mega") {
    font-size: 17px;
    line-height: 1.65
  }

  @include media(">=mega") {
    font-size: 18px;
    line-height: 1.7;
  }
}

body {
  background-color: $c-black;
  color: $c-black;
  font-family: $f-regular;
  font-weight: 300;
  font-size: inherit;
  line-height: inherit;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

header {
  text-align: center;
  padding: 0;
  margin: 0;
  background: black;
  color: $c-gray;
  font-weight: 700;
  transition: $tr-scope $tr-speed $tr-ease;

  &:hover {
    background: lighten($c-black, 10%);
    transition: $tr-scope $tr-speed $tr-ease;
  }

  .label {
    padding: 0.6em 0;
  }

  a {
    color: $c-gray;

    &:focus,
    &:hover,
    &:visited:hover,
    &:visited:focus {
      transition: $tr-scope $tr-speed $tr-ease;
      color: $c-white;
    }
  }
}

#toggler {
  display: block;
  padding: 1em;
  cursor: pointer;
  transition: $tr-scope $tr-ease $tr-speed-fast;

  .label {
    letter-spacing: 0.1em;
    transition: $tr-scope $tr-ease $tr-speed-fast;
  }

  #togglericon {
    display: inline-block;
    transition: $tr-scope $tr-ease $tr-speed-fast;
  }

  &.expanded {
    color: lighten($c-black, 35%);
    transition: $tr-scope $tr-ease $tr-speed-fast;

    .label {
      letter-spacing: 0.3em;
      transition: $tr-scope $tr-ease $tr-speed-fast;
    }

    #togglericon {
      transform: rotate(180deg);
      transition: $tr-scope $tr-ease $tr-speed-fast;
    }
  }
}

#collapsible {
  overflow: hidden;
  height: auto;
  max-height: 200px;
  transition: max-height $tr-ease $tr-speed;

  &.collapsed {
    max-height: 0;
    transition: max-height $tr-ease $tr-speed-fast;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }

  a {
    display: block;
    padding: 0.6em 1em;
    width: 100%;
    transition: $tr-scope $tr-speed $tr-ease;

    &:hover {
      background: lighten($c-black, 20%);
      transition: $tr-scope $tr-speed $tr-ease;
    }
  }
}

.stripe {
  background: $c-black;
  padding: 1em 0;
}

#bg-wrapper {
  background-image: url("/images/bg.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 0 2rem 0;
  min-height: 100vh;
}

.container {
  background: rgba($c-white, 0.9);
  width: 100%;
  max-width: $w-container;
  margin: 0 auto;
  padding: 2rem;

  &:after {
    display: block;
    clear: both;
    float: none;
    content: ' ';
    width: 100%;
    height: 1px;
  }

  @include media(">=tablet") {
    padding: 4rem;
  }
}

#intro {
  background: rgba(darken($c-primary, 25%), 0.9);
  color: $c-white;

  @include media('>desktop') {
    border-radius: 0.5rem;
  }
}

.instaembed {
  margin-top: 4em;
}

article {
  padding: 2em 0;
}

.image {
  margin-bottom: 2em;

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .youtube {
    display: block;
    padding: 0;
    margin: 0;
    border: 0 none;
    outline: 0 none;
  }

  iframe {
    padding: 0;
    margin: 0;
    border: 0 none;
    outline: 0 none;
  }
}

.actions {
  padding: 1em 0 4em 0;
  text-align: center;
}

footer {
  padding: 1rem 0;
  color: $c-white;
  font-size: 0.8rem;

  .container {
    background: none;
    border-radius: 0.5rem;
  }

  a {
    display: inline-block;
    position: relative;
    left: -0.5rem;
    top: 0.5rem;
    margin-bottom: 1rem;
    color: $c-white;
    background: rgba(darken($c-primary, 25%), 0.9);
    padding: 0.5rem;
    border-radius: 0.5rem;

    &:hover,
    &:focus {
      color: $c-primary;
      background: rgba($c-white, 0.9);
    }
  }
}

/* clears */

.clear {
  clear: both;
  height: 0;
  padding: 0;
  margin: 0;
}

.clear-left {
  clear: left;
  height: 0;
  padding: 0;
  margin: 0;
}

.clear-right {
  clear: right;
  height: 0;
  padding: 0;
  margin: 0;
}

/* hides */
.screen-reader-only {
  display: none;
}

.hide {
  display: none;
}

.hide-on-phone {
  @include media("<=phone") {
    display: none !important;
  }
}

.hide-on-tablet {
  @include media(">phone", "<desktop") {
    display: none !important;
  }
}

.hide-on-desktop {
  @include media(">=desktop") {
    display: none !important;
  }
}

/* 404 page styling */
.error404 {

  code {
    position: relative;
    bottom: 0.4rem;
    padding: 0.2rem;
    font-family: monospace;
    color: $c-gray;
  }

}

.equalize {
  min-height: inherit;
}


/** styles used by Netlify CMS app **/

.netlify-preview {
  padding: 1.5em 1em 4em 1em;
}
