<!doctype html>
{{ partial "head-flussssbar" }}
<html lang="de">
{{ partial "head-site" . }}
<body id="root" class="home {{ .Type }} {{ .File.TranslationBaseName }}">
    <div role="heading">
        <a href="#intro">
            <div class="hero">
                <div class="logooverlay"></div>
            </div>
        </a>
        <div class="bg-wrapper">
            <div class="container" id="intro" role="main">
                {{ .Content }}
            </div>
            {{ partial "footer" . }}
        </div>
    </div>
</body>
{{ partial "schema/global" . }}
{{ partial "javascript" . }}
</html>