<!doctype html>
{{ partial "head-flussssbar" }}
<html lang="de">
{{ partial "head-site" . }}
<body id="root" class="home {{ .Type }} {{ .File.TranslationBaseName }}">
    <div role="heading">
        <a href="#target">
            <div class="logooverlay"></div>
            <div class="hero"></div>
        </a>
        <a name="target" id="target"></a>
        <div id="bg-wrapper">
            <div class="container" id="intro" role="main">
                <div class="content">
                    {{ .Content }}
                </div>
                <div class="instaembed">
                    <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/eec66057445559eab0de7071c5c536c0.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
                </div>
            </div>
            {{ partial "footer" . }}
            <div class="imprint">
                <a href="https://www.ditoy.com" target="_blank">Webseite von ditoy Digitalagentur Zürich</a>
            </div>
        </div>
    </div>
</body>
{{ partial "schema/global" . }}
{{ partial "javascript" . }}
</html>
